.andw-image-name-label {
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 0 5px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    z-index: 100;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    pointer-events: none;
}
.andw-mime-png { background-color: #34a853; }
.andw-mime-jpg { background-color: #4285f4; }
.andw-mime-other { background-color: #666; }
